body {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .RibbonHeader {
    padding: 15px;
    height: 100px;
    background: var(--primary-bg);
    clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
    font-family: "font_condensed";
    color: var(--primary-text);
    letter-spacing: 0.18em;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80vw;
    border-bottom: 1px dashed var(--primary-text);
    border-top: 1px dashed var(--primary-text);
    margin: 0 auto;
  }

 .Ribbon > h1 {
      text-align: center;
  }

@media only screen  and (min-width : 900px) {
    .RibbonHeader {
        width: 50vw;
    }
}