body {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .RibbonHeader {
    padding: 15px;
    height: 100px;
    background: salmon;
    clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
    font-family: "font_condensed";
    color: #dddeda;
    letter-spacing: 0.18em;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80vw;
    border-bottom: 1px dashed white;
    border-top: 1px dashed white;
    margin: 0 auto;
  }

 .Ribbon > h1 {
      text-align: center;
  }