.NewSwatchForm-Form {
    display: flex;
    flex-direction: column;
    background-color: rgb(60, 162, 60);
    height: 80vh;
    width: 100vw;
    padding: 20px;
    color: var(--primary-text);
    text-align: center;
}

.NewSwatchForm-ImgGroup {
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
}

.NewSwatchForm-Group {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.NewSwatchForm-Group > p {
    font-size: 20px;
}

.NewSwatchForm-Camera {
    width: 100px;
    margin-bottom: -30px;
}

.NewSwatchForm-Preview {
    width: 100px;
    height: 100px;
    background-color: aqua;
    
}

.NewSwatchForm-Group > input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.NewSwatchForm-Group > select {
    width: 80%;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: white;
}

.NewSwatchForm-Buttons { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -10px 0;
}

.NewSwatchForm-Buttons > .btn {
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width:200px;
    margin: 5px;
    color: var(--primary-text);
}

.NewSwatchForm-Buttons > .default {
    background-color: var(--primary-bg);
}

.NewSwatchForm-Buttons > a.btn.cancel {
    background-color: rgb(150, 46, 71);
    display: inline-block;
}