.SwatchesPage {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: flex-start;
}

.SwatchesPage-DDs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    margin-top: 2vh;
}

.SwatchesPage-DDs > .dd {
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 120px;
    color: var(--primary-green);
    background-color: var(--primary-text);
    display: inline-block;
}

.SwatchesPage-DDLable {
    font-size: 20px;
    color: var(--primary-bg);
}

.SwatchesPage-DD {
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 120px;
    height: 55px;
    font-size: 20px;
    border: none;
    background-color: white;
    border: 1px solid var(--primary-text);
    color: green;
    display: inline-block;
}

.SwatchesPage-Swatches {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    width: 90vw;
    padding: 10px;
    margin: 0 auto;
}

.SwatchesPage-Swatches > a {
    text-decoration: none;
}

.SwatchesPage-Swatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 190px;
    width: 100px;
    margin: 5px;
}

.SwatchesPage-Swatch > .img {
    height: 100px;
    width: 100px;
}

.SwatchesPage-TextBox {
    display: flex;
    height: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.SwatchesPage-TextBox > h4 {
    margin: 5px auto -10px;
    color: var(--primary-text);
}

.SwatchesPage-TextBox > p {
    margin: 10px auto;
    color: var(--primary-text);
}

.SwatchesPage-Buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SwatchesPage-Buttons > .btn {
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 150px;
    margin: -10px auto 10px;
    color: var(--primary-text);
    background-color: var(--primary-bg);
    display: inline-block;
}