.LandingButtons {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    margin: 0 auto;
}
.LandingButtons > .NavBar-link {
    background-color: salmon;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width:150px;
    color: #dddeda;
}