.LandingPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    margin-top: -20px;
    background-image: url('./LandingBG.jpg');
    background-repeat: no-repeat;
    background-size: 100vh;
}

@media only screen  and (min-width : 900px) {
    .LandingPage {
        background-repeat: repeat-x;
        background-position: center;
    }
}